body{
    background-color: brown;
}

.painel{
    margin: auto; /* centralizar horizontalmente */
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    text-align: center; /* alinhar texto ao centro */
    padding-top: 50px; /* adicionar espaço superior para centralizar verticalmente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sim{
    
    height: 40px;
    width: 60px;
    background-color: red;
    border: white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
}
#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border: white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}